.project
.pydevproject

*.7z
*.bak
*.cfg
*.cfx
*.csv
*.dat
*.ebml
*.ide
*.lnk
*.mat
*.old
*.pyc
*.xls
*.xlsx
*.zip
*~

test*.xml
test*.png
test_recordings
profiling/*
assembly/*.jpg
assembly/firmware
assembly/temp
ide2mat/???2mat?v*

build
dist
*_32
*_64
*_32b
*_64b
Slam Stick Lab v*
*_python
images_work
backups
slam_stick_viewer_*
about_tmp.html

mide_ebml/devinfo.xml
*_xxx.*