.project
.pydevproject

*.7z
*.zip
*.pyc
*.cfg
*.lnk
*.bak
*.old
*.ebml
*.csv
*.ide
*.cfx
*.dat
*.xls
*.xlsx
*~

test*.xml
test*.png

build
dist
*_python
images_work
backups
slam_stick_viewer_*
about_tmp.html

mide_ebml/devinfo.xml
*_xxx.*