.project
.pydevproject
.settings

*.7z
*.bak
*.cal
*.cfg
*.cfx
*.csv
*.dat
*.ebml
*.exe
*.fid
*.fih
*.ide
*.lnk
*.mat
*.old
*.plg
*.pstat
*.pyc
*.ui
*.xls
*.xlsx
*.zip
*~

test*.xml
test*.png
test_recordings
profiling/*
assembly/*.jpg
assembly/firmware
assembly/temp
assembly/pyftdi-master
ide2mat/???2????v*
ide2mat/temp
splitter/ide_split?v*
old builds

ABOUT/slam_stick_lab_changelog.html

build/
build_64*/
dist/
*_32
*_64
*_32b
*_64b
Slam Stick Lab v*
Slam Stick Time Hub v*
Data Viewer v*
*_python
images_work
backups
slam_stick_viewer_*
about_tmp.html

mide_ebml/devinfo.xml
*_xxx.*
.idea/

drs_test/
.eggs/
SlamStickLab.egg-info/
venv*
htmlcov*
.coverage
